h1{
	color: darkviolet;
	text-align: center;
	font-size: 50px;
}

h2{
	color: deeppink;
	text-align: center;
	font-size: 30px;
}


td{
	text-align: center;
	width: 300px;
}

.container{
	position: absolute;

}
